---
layout: default
title: Live
---

<h1 align="center">{{ page.title }}</h1>
        <p align = "center"> A blog spanning four categories:</p>
        {{content}}
        <div class="space"></div>
        <div class="row">
          <div class="col-md-3">
            <div class="media testimonial">
              <div class="media-body">
                <h3 class="media-heading"><span>Bravely<span></h3>
                <blockquote>
                  <p>A section focused on teaching. I'll be giving tutorials on various subjects, ranging from knitting to sketching to coding to stretching.</p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="media testimonial">
              <div class="media-body">
                <h3 class="media-heading"><span>Humbly</span></h3>
                <blockquote>
                  <p>Living and actively learning lessons from the Word. A place where I write about they ways God is growing me.</p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="media testimonial">
              <div class="media-body">
                <h3 class="media-heading"><span>Vicariously</span></h3>
                <blockquote>
                  <p>I love to travel and take pictures. A section where you can read about my adventures and be jealous.</p>
                </blockquote>
              </div>
            </div>
          </div>  
          <div class="col-md-3">
            <div class="media testimonial">
              <div class="media-body">
                <h3 class="media-heading"><span>Spontaneously</span></h3>
                <blockquote>
                  <p>A place where I can verbalize notions of both the world around me and the one in my head.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
  <p align="center"></p><i class="fa fa-star text-colored"></i><i class="fa fa-star text-colored"></i><i class="fa fa-star text-colored"></i></p>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>



{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
