<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="no-trans">
    <div id="fb-root"></div>    
    <script>(function(d, s, id) {   
      var js, fjs = d.getElementsByTagName(s)[0];   
      if (d.getElementById(id)) return;   
      js = d.createElement(s); js.id = id;    
      js.src = "//connect.facebook.net/el_GR/sdk.js#xfbml=1&version=v2.0";    
      fjs.parentNode.insertBefore(js, fjs);   
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>



    {% include nav.html %}
    <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner">
      <div class="banner-image"></div>
      <div class="banner-caption">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
              <h1 class="text-center">Live to be <span>Inspired</span></h1>
              <p class="lead text-center"> "For I know the plans I have for you,” declares the <span>LORD</span>, “plans to prosper you and not to harm you, plans to give you hope and a future."</p>
              <h4 class="text-center"> <span>Jeremiah 29:11</span></h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- banner end -->


    
    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
    
    <!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="plugins/jquery.min.js"></script>
		<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="plugins/modernizr.js"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
		
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="plugins/jquery.backstretch.min.js"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="js/custom.js"></script>
		<!-- Html Coder Add -->		
		<script type="text/javascript" src="hc-add/template.js"></script>
  </body>
</html>
