<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="no-trans">
    {% include nav.html %}
<!-- section start -->
    <!-- ================ -->
    <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
      <div class="container">
      	<div class="space"></div>
	 <div class="row">
	   <div class="col-md-12">
	     {{ content }}
	   </div>
    	</div>
    	<div class="space"></div>
       </div>
     </div>
    <!-- section end -->

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
    
    <!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
		<script type="text/javascript" src="{{ site.url }}/plugins/jquery.min.js"></script>
		<script type="text/javascript" src="{{ site.url }}/bootstrap/js/bootstrap.min.js"></script>

		<!-- Modernizr javascript -->
		<script type="text/javascript" src="{{ site.url }}/plugins/modernizr.js"></script>

		<!-- Isotope javascript -->
		<script type="text/javascript" src="{{ site.url }}/plugins/isotope/isotope.pkgd.min.js"></script>
		
		<!-- Backstretch javascript -->
		<script type="text/javascript" src="{{ site.url }}/plugins/jquery.backstretch.min.js"></script>

		<!-- Appear javascript -->
		<script type="text/javascript" src="{{ site.url }}/plugins/jquery.appear.js"></script>

		<!-- Initialization of Plugins -->
		<script type="text/javascript" src="{{ site.url }}/js/template.js"></script>

		<!-- Custom Scripts -->
		<script type="text/javascript" src="{{ site.url }}/js/custom.js"></script>
  </body>
</html>
