<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="no-trans">
    {% include nav.html %}
 <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner">
      <div class="banner-image"></div>
      <div class="banner-caption">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
              <h1 class="text-center">Live to be <span>Inspired</span></h1>
              <p class="lead text-center"> "For I know the plans I have for you,” declares the <span>LORD</span>, “plans to prosper you and not to harm you, plans to give you hope and a future."</p>
              <h4 class="text-center"> <span>Jeremiah 29:11</span></h4>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- banner end -->
<!-- section start -->
    <!-- ================ -->
    <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 id="about" class="title text-center">About <span>Me</span></h1>
            <p class="lead text-center">Artist. Programmer. Follower of Christ.</p>
            <div class="space"></div>
            <div class="row">
              <div class="col-md-6">
                <img src="images/ProfPic.jpg" alt="">
                <div class="space"></div>
              </div>
              <div class="col-md-6">
                <p>Hello! I'm a Senior at the University of Michigan studying Computer Science through the College of Engineering, minoring in Physics and Japanese. </p>
                <p>A little bit about myself:</p>
                <ul class="list-unstyled">
                  <li><i class="fa fa-star pr-10 text-colored"></i> I have always had a passion for art and have been drawing ever since I could use my hands.</li>

                  <li><i class="fa fa-star pr-10 text-colored"></i> This fall, I'll be studying abraod in <a href="https://www.google.com/maps?q=nagoya+nanzan+university&es_sm=93&um=1&ie=UTF-8&sa=X&ved=0CAcQ_AUoAWoVChMIvr_W7NmYxwIVE0KSCh2ZUAAO">Nagoya, Japan</a></li>
                  <li><i class="fa fa-star pr-10 text-colored"></i> Last year I won an <a href="http://www.eecs.umich.edu/eecs/about/articles/2015/gsi-awards-2015.html">Instructional Aide Award</a> for <a href="https://eecs183.org/">EECS 183</a>, the Introductory Programming Course at Umich (but I won't be teaching this fall due to forseen circumstances).</li>
                  <li><i class="fa fa-star pr-10 text-colored"></i> I'm actively involved with <a href="http://newlifea2.org/">New Life Church</a></li> 
                  <li><i class="fa fa-star pr-10 text-colored"></i> I am a traceuse that practices with <a href="https://www.facebook.com/ParkourMI">Michigan Parkour</a></li>
                </ul>
              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- section end -->

    
<!-- section start -->
    <!-- ================ -->
    <div class="section translucent-bg bg-image-1 blue">


      <div class="container">
        <h1 class="text-center title" id="gallery">Gallery</h1>
        <div class="separator"></div>
        <p class="lead text-center">Selected drawings and paintings done by yours truly.</p>
        <br>      
        <div class="row object-non-visible" data-animation-effect="fadeIn">
          <div class="col-md-12">

            <!-- isotope filters start -->
            <div class="filters text-center">
              <ul class="nav nav-pills">
                <li class="active"><a href="#" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".sketch">Sketch</a></li>
                <li><a href="#" data-filter=".painting">Painting</a></li>
              </ul>
            </div>
            <!-- isotope filters end -->

            <!-- portfolio items start -->
            <div class="isotope-container row grid-space-20">
              <div class="col-sm-6 col-md-3 isotope-item painting">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://img03.deviantart.net/8282/i/2015/199/c/8/you_make_me_brave_by_lilisys-d91sny9.jpg" class="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-1">
                      <i class="fa fa-search-plus"></i>
                      <span>You Make Me Brave</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-1-label">You Make Me Brave</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>Inspired by a <a href="https://www.youtube.com/watch?v=6Hi-VMxT6fc">song</a> of the same name by Bethel Music</p>
                            <p><i>As Your love, in wave after wave<br>
                              Crashes over me, crashes over me<br>
                              For You are for us<br>
                              You are not against us<br>
                              Champion of Heaven<br>
                              You made a way for all to enter in<br></i>
                            </p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://img03.deviantart.net/8282/i/2015/199/c/8/you_make_me_brave_by_lilisys-d91sny9.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>

              <div class="col-sm-6 col-md-3 isotope-item painting">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://pre06.deviantart.net/2fc0/th/pre/i/2015/187/f/0/rescue_by_lilisys-d908s3o.png" class="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-2">
                      <i class="fa fa-search-plus"></i>
                      <span>Rescue</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-2-label">Project Title</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>In July 2014, this elephant name Raju was in the news because he was so moved by the fact that he was being freed from slavery that he cried. The organization that led the rescue, <a href="http://wildlifesos.org/">Wildlife SOS</a> started a campaign called Raju's Rescue Fund in which people could fundraise money throughout the month of July 2015 for the rescue and care for abused elephants. I love elephants and am passionate about their freedom and care, so I joined the cause by selling prints of this painting of Raju. 
                            Visit my <a href="https://app.mobilecause.com/vf/Raju/JessicaWu">fundraising page</a> if you'd like to donate!</p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://pre06.deviantart.net/2fc0/th/pre/i/2015/187/f/0/rescue_by_lilisys-d908s3o.png" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>
              
              <div class="col-sm-6 col-md-3 isotope-item sketch">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://img12.deviantart.net/d1e6/i/2014/276/1/5/half_dome_by_lilisys-d81fdxr.jpg" cclass="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-3">
                      <i class="fa fa-search-plus"></i>
                      <span>Half Dome</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-3-label">Half Dome</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>Inspired by your desktop background.</p>
                            <p>No not really. I visited Yosemite during the summer of 2014 and sketched this while I was there.</p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://img12.deviantart.net/d1e6/i/2014/276/1/5/half_dome_by_lilisys-d81fdxr.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>
              
              <div class="col-sm-6 col-md-3 isotope-item painting">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://pre12.deviantart.net/4ab9/th/pre/i/2015/217/e/8/showstopper_by_lilisys-d94e2e0.jpg" class="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-4">
                      <i class="fa fa-search-plus"></i>
                      <span>Showstopper</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-4" tabindex="-1" role="dialog" aria-labelledby="project-4-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-4-label">Showstopper</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>One day, I was at a friend's grad party. She bought some cigars to celebrate her graduating with a nursing degree, passing her exam, and securing a job. Another friend was smoking one. He has this suave James Bond-esque air about him, and the fact that he was smoking a cigar just solidified the whole image. I felt super inspired to paint him, so I did.</p>
</p>
                            <p>Also he was drinking a diet coke with "Showstopper" written on it, which was perfect.</p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://pre12.deviantart.net/4ab9/th/pre/i/2015/217/e/8/showstopper_by_lilisys-d94e2e0.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>
              
              <div class="col-sm-6 col-md-3 isotope-item painting">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://img13.deviantart.net/2791/i/2015/218/8/5/black_widow_baby_by_lilisys-d94ik5y.jpg" class="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-5">
                      <i class="fa fa-search-plus"></i>
                      <span>Black Widow Baby</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-5" tabindex="-1" role="dialog" aria-labelledby="project-5-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-5-label">Black Widow Baby</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>A color study, inspired by the work of <a href="http://alicexz.com/">alicexz</a>. And by that of Joss Whedon.</p> 
                            
                          </div>
                          <div class="col-md-6">
                            <img src="http://img13.deviantart.net/2791/i/2015/218/8/5/black_widow_baby_by_lilisys-d94ik5y.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>
              
              <div class="col-sm-6 col-md-3 isotope-item sketch">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://orig13.deviantart.net/19de/f/2014/044/d/2/finnick_by_lilisys-d76bi41.jpg" class="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-6">
                      <i class="fa fa-search-plus"></i>
                      <span>Finnick</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-6" tabindex="-1" role="dialog" aria-labelledby="project-6-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-6-label">Finnick</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p><i>"Want a sugar cube?"</i></p>
                            <p>- Finnick Odair, District 4</p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://orig13.deviantart.net/19de/f/2014/044/d/2/finnick_by_lilisys-d76bi41.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>
              
              <div class="col-sm-6 col-md-3 isotope-item painting">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://img00.deviantart.net/7387/i/2011/207/5/f/ajisai_by_haunter101-d41ris3.jpg" class=" img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-7">
                      <i class="fa fa-search-plus"></i>
                      <span>Ajisai</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-7" tabindex="-1" role="dialog" aria-labelledby="project-7-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-7-label">Ajisai</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>Or, hydrangeas.</p>
                            <p><a href="https://www.google.com/maps?q=matsue+japan&es_sm=93&um=1&ie=UTF-8&sa=X&ved=0CAcQ_AUoAWoVChMIntjQ8eeYxwIVzRmSCh1C-AYa">Matuse, Japan</a> for the summer. My neighbor took me on a boat ride around the moat in town, and I took some photographs. This painting is based on one of them.</p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://img00.deviantart.net/7387/i/2011/207/5/f/ajisai_by_haunter101-d41ris3.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>
              
              <div class="col-sm-6 col-md-3 isotope-item painting">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://img14.deviantart.net/2edd/i/2011/157/8/3/view_of_water_by_haunter101-d3i8gtr.jpg" class="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-8">
                      <i class="fa fa-search-plus"></i>
                      <span>View of Water</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-8" tabindex="-1" role="dialog" aria-labelledby="project-8-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-8-label">View of Water</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>A piece for an assignment back in my 11th grade drawing and painting class.</p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://img14.deviantart.net/2edd/i/2011/157/8/3/view_of_water_by_haunter101-d3i8gtr.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>

              <div class="col-sm-6 col-md-3 isotope-item sketch">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://orig01.deviantart.net/03d7/f/2013/020/f/0/don__t_you_fret__by_lilisys-d5s6yub.jpg"  class="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-9">
                      <i class="fa fa-search-plus"></i>
                      <span>Don't You Fret</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-9" tabindex="-1" role="dialog" aria-labelledby="project-9-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-9-label">Don't You Fret</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>Marius Pontmercy, Les Miserables</p>
                            <p><i>Don't you fret, monsieur Marius<br>
                              I don't feel any pain<br>
                              A little fall of rain<br>
                              Can hardly hurt me now<br>
                              You're here, that's all I need to know<br>
                              And you will keep me safe<br>
                              And you will keep me close<br>
                              And rain will make the flowers grow.</i></p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://orig01.deviantart.net/03d7/f/2013/020/f/0/don__t_you_fret__by_lilisys-d5s6yub.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>

              <div class="col-sm-6 col-md-3 isotope-item sketch">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://orig11.deviantart.net/224c/f/2013/172/9/c/snow_by_lilisys-d6a1nfl.jpg" class="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-10">
                      <i class="fa fa-search-plus"></i>
                      <span>Snow</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-10" tabindex="-1" role="dialog" aria-labelledby="project-10-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-10-label">Snow</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p><i>"You know nothin', Jon Snow."</i></p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://orig11.deviantart.net/224c/f/2013/172/9/c/snow_by_lilisys-d6a1nfl.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>

              <div class="col-sm-6 col-md-3 isotope-item sketch">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://pre06.deviantart.net/ba02/th/pre/f/2013/193/4/1/sansative_by_lilisys-d6d44pj.jpg" class="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-11">
                      <i class="fa fa-search-plus"></i>
                      <span>Sansative</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-11" tabindex="-1" role="dialog" aria-labelledby="project-11-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-11-label">Sansative</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>Hahaha aren't I punny??</p>
                            <p>Sansa Stark of Winterfell</p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://pre06.deviantart.net/ba02/th/pre/f/2013/193/4/1/sansative_by_lilisys-d6d44pj.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>

              <div class="col-sm-6 col-md-3 isotope-item painting">
                <div class="image-box">
                  <div class="overlay-container">
                    <img src="http://img00.deviantart.net/2641/i/2012/202/6/b/autumn_river_by_haunter101-d583tbx.jpg" class="img-thumbnail img-responsive" alt="">
                    <a class="overlay" data-toggle="modal" data-target="#project-12">
                      <i class="fa fa-search-plus"></i>
                      <span>Autumn River</span>
                    </a>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="project-12" tabindex="-1" role="dialog" aria-labelledby="project-12-label" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="project-12-label">Autumn River</h4>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                            <p>Acrylic from summer... 2012?</p>
                          </div>
                          <div class="col-md-6">
                            <img src="http://img00.deviantart.net/2641/i/2012/202/6/b/autumn_river_by_haunter101-d583tbx.jpg" alt="">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal end -->
              </div>

            </div>
            <!-- portfolio items end -->
          
          </div>
        </div>
      </div>
    </div>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <div class="section translucent-bg bg-image-2 pb-clear">
      <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="live" class="title text-center">Live</h1>
        <p align = "center"> A <a href="{{site.url}}/blog"><span>blog</span></a> spanning four categories.</p>
        {{content}}
        <div class="space"></div>
        <div class="row">
          <div class="col-md-3">
            <div class="media testimonial">
              <div class="media-body">
                <h3 class="media-heading"><span>Bravely<span></h3>
                <blockquote>
                  <p>A section focused on teaching. I'll be giving tutorials on various subjects, ranging from knitting to sketching to coding to stretching.</p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="media testimonial">
              <div class="media-body">
                <h3 class="media-heading"><span>Humbly</span></h3>
                <blockquote>
                  <p>Living and actively learning lessons from the Word. A place where I write about they ways God is growing me.</p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="media testimonial">
              <div class="media-body">
                <h3 class="media-heading"><span>Vicariously</span></h3>
                <blockquote>
                  <p>I love to travel and take pictures. A section where you can read about my adventures and be jealous.</p>
                </blockquote>
              </div>
            </div>
          </div>  
          <div class="col-md-3">
            <div class="media testimonial">
              <div class="media-body">
                <h3 class="media-heading"><span>Spontaneously</span></h3>
                <blockquote>
                  <p>A place where I can verbalize notions of both the world around me and the one in my head.</p>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section end -->

    <!-- footer start -->
    <!-- ================ -->
    <footer id="footer">

      <!-- .footer start -->
      <!-- ================ -->
      <div class="footer section">
        <div class="container">
          <h1 class="title text-center" id="contact">Contact <span>Me<span></h1>
          <div class="space"></div>
          <div class="row">
            <div class="col-sm-12">
              <div class="footer-content">
                <p class="large" align="center">
                  Any questions, comments, or concerns? Anything for the good of the order?
                </p>
                <ul class="list-icons" align="center">
                  <li><i class="fa fa-envelope-o pr-10"></i><a id="my-email" href="mailto:jesswu@umich.edu?subject=Hi+Jessica!" title="work">jesswu@umich.edu</a></li>
                  <li><i class="fa fa-file-text pr-10"></i><a href="https://hkn.eecs.umich.edu/files/?id=54b7fbfe8eca63351ad87f07">Resume</a></li>
                  
                </ul>
                <ul class="social-links">
                  <li class="facebook"><a target="_blank" href="https://www.facebook.com/jwuluvsyou"><i class="fa fa-facebook"></i></a></li>
                  <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/pub/jessica-wu/81/81b/575"><i class="fa fa-linkedin"></i></a></li>
                  <li class="github"><a target="_blank" href="https://github.com/Lilisys"><i class="fa fa-github"></i></a></li>
                  <li class="instagram"><a target="_blank" href="https://instagram.com/jwuluvsyou/"><i class="fa fa-instagram"></i></a></li>
                  <li class="deviantart"><a target="_blank" href="http://www.lilisys.deviantart.com"><i class="fa fa-deviantart"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- .footer end -->

      <!-- .subfooter start -->
      <!-- ================ -->
      <div class="subfooter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="text-center">Copyright © 2015 Worthy by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- .subfooter end -->

    </footer>
    <!-- footer end -->

    {% include analytics.html %}
    
    <!-- JavaScript files placed at the end of the document so the pages load faster
    ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="plugins/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

    <!-- Modernizr javascript -->
    <script type="text/javascript" src="plugins/modernizr.js"></script>

    <!-- Isotope javascript -->
    <script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
    
    <!-- Backstretch javascript -->
    <script type="text/javascript" src="plugins/jquery.backstretch.min.js"></script>

    <!-- Appear javascript -->
    <script type="text/javascript" src="plugins/jquery.appear.js"></script>

    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="js/template.js"></script>

    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/custom.js"></script>
    <!-- Html Coder Add -->   
    <script type="text/javascript" src="hc-add/template.js"></script>
  </body>
</html>
